<section class="jumbotron sd-pt-3">
  <div class="container">
    <app-global-search></app-global-search>
    <div *ngIf="data" class="sd-favorite-questions">
      <h2>Рекомендуем для пользователя</h2>
      <ul class="sd-list-masonry sd-list-masonry-sm-6 sd-list-masonry-md-3 list-unstyled mb-0">
        <li><a routerLink="">Общие вопросы</a></li>
        <li><a routerLink="">Закрытая локальная сеть видеонаблюдения</a></li>
        <li><a routerLink="">Закрытая локальная сеть</a></li>
        <li><a routerLink="">Инвентаризация</a></li>
        <li><a routerLink="">Локальная сеть</a></li>
        <li><a routerLink="">САПР</a></li>
        <li><a routerLink="">Ремонт компьютерной техники</a></li>
        <li><a routerLink="">Сервис заводской проходной</a></li>
      </ul>
    </div>
  </div>
</section>

<app-loading [loading]="loading" size="48px"></app-loading>

<div *ngIf="data">
  <section class="sd-pb-6">
    <div class="container">
      <h2 class="h1">Популярные категории на портале</h2>
      <ul class="sd-list-masonry sd-list-masonry-sm-6 sd-list-masonry-md-4 list-unstyled sd-child-mb-7">
        <li *ngFor="let category of data.categories; trackBy:category?.id">
          <h4 class="h5 mb-0"><a [routerLink]="['/categories', category.id]" class="sd-icon-group"><i class="sd-icon-category mdi" [ngClass]="category.icon_name"></i>{{ category.name }}</a></h4>
        </li>
      </ul>
      <div class="text-center"><a routerLink="/categories" class="btn btn-gray-white">Все категории</a></div>
    </div>
  </section>

  <section class="jumbotron mb-0">
    <div class="container">
      <h2 class="h1">Часто задаваемые вопросы</h2>
      <div class="sd-list-masonry sd-list-masonry-sm-6 sd-list-masonry-md-4 sd-child-mb-7">
        <div *ngFor="let service of data.services.slice(0, limits.services); trackBy:service?.id">
          <h4 [innerHtml]="service.name"></h4>
          <ul class="list-unstyled sd-child-mb-3 sd-mb-5">
            <li *ngFor="let ticket of service.tickets.slice(0, service.questionLimit); trackBy:ticket?.id">
              <a [routerLink]="['/services', ticket.service_id, 'tickets', ticket.id]" [innerHtml]="ticket.name"></a>
            </li>
          </ul>
          <span *ngIf="service.tickets.length > limits.questions" (click)="toggleQuestionLimit(service)" class="sd-icon-group sd-link text-dark">
            <i class="mdi mdi-24px text-primary" [ngClass]="isNeedToDropDown(service) ? 'mdi-arrow-down-drop-circle-outline' : 'mdi-arrow-up-drop-circle-outline'"></i>
            Смотреть все вопросы
          </span>
        </div>
      </div>
      <div class="text-center"><a routerLink="" class="btn btn-primary">Все вопросы</a></div>
    </div>
  </section>
</div>
