<section class="sd-pb-6" *ngIf="service" @contentBlockAnimation>
  <div class="container">
    <div class="d-flex flex-row align-items-start">
      <app-section-header [header]="service.name" class="mr-auto"></app-section-header>
      <a id="adminMode" *appAuthorize="[service, 'newTicket']" routerLink="admin/tickets" class="btn btn-danger">Режим администратора</a>
    </div>
    <app-responsible-user-details [users]="service.responsibleUsers" label="Ответственные за услугу"></app-responsible-user-details>
    <h2>Вопросы</h2>
    <div class="sd-dlist-divider-b mt-2">
      <p *ngIf="!service.questionTickets.length" class="search-title">Список вопросов пуст</p>
      <app-question-page-content *ngFor="let question of service.questionTickets; trackBy: trackByTicket" [data]="question"
        [showFlags]="showTicketFlags"></app-question-page-content>
    </div>
  </div>
</section>
