<div [formGroup]="claimFormForm">
  <section>
    <app-common-ticket-information [ticketForm]="ticketForm"></app-common-ticket-information>
  </section>
  <section>
    <div class="form-group">
      <label for="description">Описание</label>
      <textarea id="description" name="description" formControlName="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="destination">Адрес сервера, обрабатывающего заявку</label>
      <input id="destination" name="destination" formControlName="destination" class="form-control">
    </div>
    <div class="form-group">
      <label for="success_message">Сообщение пользователю после отправки заявки</label>
      <textarea id="message" name="message" formControlName="message" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="info">Информация</label>
      <textarea id="info" name="info" formControlName="info" class="form-control"></textarea>
    </div>
  </section>
</div>