<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="mb-0 text-primary">{{ kase.ticket?.name || 'Обращение в техподдержку' }}</h3>
      <div>
        <b>Заявка №{{ kase.case_id }}</b>
        <small class="d-flex justify-content-end">{{ kase.runtime.formatted_starttime }}</small>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ kase.desc }}</p>
    <p class="card-text"><b>{{ kase.status }}</b></p>
    <small>Срок выполнения: {{ kase.runtime.to_s }}</small>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <ngb-rating [(rate)]="kase.rating" [readonly]="!isAllowedToVote()" max="5" (rateChange)="vote()">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100" >&#9733;</span>
        </ng-template>
      </ngb-rating>
      <div class="sd-link ml-auto" ngbTooltip="Отменить заявку">
        <i class="mdi mdi-delete mdi-24px" (click)="revokeCase()"></i>
      </div>
    </div>
  </div>
</div>
