<div class="sd-list-item" [ngClass]="{ 'active-item': data.open }" [id]="data.id" appShowQuestionLink>
  <div class="sd-list-question">
    <div class="sd-list-question-group" (click)="toggleTicket()">
      <i *ngIf="!standaloneLink" class="mdi mdi-24px" [ngClass]="data.open ? 'mdi-arrow-up-drop-circle-outline' :
        'mdi-arrow-down-drop-circle-outline'"></i>
      <div class="question-block">
        <div class="row-flex-content">
          <app-visible-flag [data]="data" *ngIf="showFlags"></app-visible-flag>
          <span [innerHtml]="data.name"></span>
        </div>
      </div>
      <i *ngIf="!standaloneLink" class="mdi mdi-link-variant mdi-24px" ngbTooltip="Скопировать ссылку на вопрос"
        [@ShowFlagRight]="linkAnimation" container="body" appGetQuestionLink></i>
    </div>
  </div>
  <div *ngIf="data.open" class="sd-list-answer" @ToggleAnswer>
    <app-responsible-user-details [users]="data.responsibleUsers" *ngIf="data.responsibleUsers.length" class="answer-block">
    </app-responsible-user-details>
    <div *ngFor="let answer of data.answers; trackBy: trackByAnswer" class="answer-block">
      <div class="row align-items-center">
        <div class="col-sm-9 col-md-10">
          <div class="row-flex-content">
            <app-visible-flag [data]="answer" *ngIf="showFlags"></app-visible-flag>
            <span [innerHtml]="answer.answer"></span>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="sd-link sd-icon-group justify-content-center flex-wrap">
            <div *ngFor="let attachment of answer.attachments; trackBy: trackByAttachment">
              <ng-template #filename>{{ attachment.filename }}</ng-template>
              <app-loading [loading]="attachment.loadingDownload" size="24px" class="text-secondary"></app-loading>
              <div id="attachmentFile" *ngIf="!attachment.loadingDownload" [ngbTooltip]="filename" container="body">
                <i class="mdi mdi-24px" [appFileIconChange]="attachment.filename" (click)="downloadAttachment(attachment)"></i>
              </div>
            </div>
            <div *ngIf="answer.link" ngbTooltip="Перейти по ссылке" container="body">
              <a id="attachmentLink" [href]="answer.link" target="_blank"><i class="mdi mdi-open-in-new mdi-24px"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
