<div class="sd-list-item" [ngClass]="{ 'active-item': data.open }" [id]="data.id">
  <div class="sd-list-question">
    <div class="sd-icon-group sd-link text-body" (click)="toggleTicket()">
      <i *ngIf="!standaloneLink" class="mdi mdi-24px" [ngClass]="data.open ? 'mdi-arrow-up-drop-circle-outline' :
        'mdi-arrow-down-drop-circle-outline'"></i>
      <span [innerHtml]="data.name"></span>
      <span *ngIf="data.isDraftState()" class="badge badge-secondary ml-1">Черновик</span>
    </div>
  </div>
  <div *ngIf="data.open" class="overflow-hidden" @ToggleAnswer>
    <div *ngFor="let answer of data.answers; trackBy: trackByAnswer" class="sd-list-answer ml-5">
      <div class="row d-flex align-items-center">
        <div class="col-sm-9 col-md-10" [innerHtml]="answer.answer"></div>
        <div class="col-sm-3 col-md-2">
          <div class="sd-link sd-icon-group justify-content-center">
            <div *ngFor="let attachment of answer.attachments">
              <ng-template #filename>{{ attachment.filename }}</ng-template>
              <app-loading [loading]="attachment.loading" size="24px" class="text-secondary"></app-loading>
              <div id="attachmentFile" *ngIf="!attachment.loading" [ngbTooltip]="filename" container="body">
                <i class="mdi mdi-file-download mdi-24px" (click)="downloadAttachment(attachment)"></i>
              </div>
            </div>
            <div *ngIf="answer.link" ngbTooltip="Перейти по ссылке" container="body">
              <a id="attachmentLink" [href]="answer.link" target="_blank"><i class="mdi mdi-open-in-new mdi-24px"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
