<div [formGroup]="parentForm">
  <section>
    <div class="form-group align-items-center sd-icon-group pointer">
      <i *ngIf="form.is_hidden.value" class="mdi mdi-toggle-switch-off mdi-24px" (click)="toggleHidden(parentForm)"></i>
      <i *ngIf="!form.is_hidden.value" class="mdi mdi-toggle-switch mdi-24px text-success" (click)="toggleHidden(parentForm)"></i>
      <span (click)="toggleHidden(parentForm)">Вопрос должен быть виден пользователю</span>
    </div>
    <div class="form-group">
      <textarea id="name" name="name" rows="5" formControlName="name" class="form-control" placeholder="Введите вопрос или описание проблемы"
        [ngClass]="{ 'is-invalid': (form.name.touched || submitted) && form.name.errors, 'is-valid': form.name.touched && form.name.valid }">
      </textarea>
      <div class="invalid-feedback">
        <span *ngIf="form.name.errors?.required">Не может быть пустым</span>
        <span *ngIf="form.name.errors?.maxlength">
          Слишком длинный вопрос (максимальная число символов: {{ form.name.errors.maxlength.requiredLength }}; вы ввели:  {{ form.name.errors.maxlength.actualLength }} )
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="tags">Теги</label>
      <ng-select id="tags" [items]="tags | async" [addTag]="!loading.tags" [hideSelected]="true" multiple="true" bindLabel="name"
        [typeahead]="tagInput" [loading]="loading.tags" formControlName="tags" typeToSearchText="Введите тег"
        addTagText="Добавить тег" placeholder="Укажите теги" (add)="hideTag($event)" (remove)="showTag($event)"></ng-select>
      <small class="form-text">
        <div class="d-flex align-items-center flex-wrap">
          Популярные теги для данной услуги:
          <app-loading class="ml-2 mr-2" [loading]="loading.serviceTags" size="18px"></app-loading>
          <span *ngFor="let tag of serviceTags; trackBy: trackByServiceTag" @contentBlockAnimation>
            <span *ngIf="!tag.data.selected">
              <span class="pointer" [innerHTML]="tag.htmlString" (click)="addTag(tag.data)"></span>
              &nbsp;
            </span>
          </span>
        </div>
      </small>
    </div>
    <div class="form-group">
      <label for="responsible_users">Ответственные</label>
      <ng-select id="responsible_users" [items]="responsibleUsers | async" [hideSelected]="true" multiple="true" bindLabel="details.full_name"
        [typeahead]="responsibleUserInput" [loading]="loading.responsibleUsers" formControlName="responsible_users" typeToSearchText="Введите ФИО или
         табельный номер" addTagText="Добавить ответственного" placeholder="Укажите ответственных">
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <span class="ng-value-icon left" (click)="clear(item)" aria-hidden="true">×</span>
          <span class="pl-1 pr-1">
            <span *ngIf="item.details">
              {{ item.details.full_name }}
              <span *ngIf="item.details.phone">(тел: {{ item.details.phone }})</span>
            </span>
            <span *ngIf="!item.details">
              {{ item.tn }}
            </span>
          </span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          {{ item.details.full_name }}
          (отд: {{ item.details.dept }}<span *ngIf="item.details.phone">; тел: {{ item.details.phone }}</span>)
        </ng-template>
      </ng-select>
    </div>
  </section>
  <section>
    <button class="btn btn-outline-primary mb-3" (click)="addAnswer()">Новый ответ</button>
    <div formArrayName="answers">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <div *ngFor="let answer of answers_form.controls; let i = index;">
          <ngb-panel *ngIf="!answer.value._destroy" [formGroupName]="i">
            <ng-template ngbPanelHeader>
              <div class="d-flex align-items-center">
                <i *ngIf="answer.value.is_hidden" class="mdi mdi-eye-off mdi-24px" ngbTooltip="Ответ скрыт от пользователей"
                  container="body"></i>
                <i *ngIf="!answer.value.is_hidden" class="mdi mdi-eye mdi-24px text-success"
                  ngbTooltip="Ответ виден пользователям" container="body"></i>
                <button ngbPanelToggle class="btn btn-link p-0 mr-auto ml-3">Ответ {{ i + 1 }}</button>
                <i class="mdi mdi-delete mdi-24px text-danger pointer" (click)="deleteAnswer(answer)"
                  ngbTooltip="Удалить ответ" container="body"></i>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="container">
                <div class="row align-items-center sd-icon-group">
                  <i *ngIf="answer.value.is_hidden" class="mdi mdi-toggle-switch-off mdi-24px pointer"
                    (click)="toggleHidden(answer)"></i>
                  <i *ngIf="!answer.value.is_hidden" class="mdi mdi-toggle-switch mdi-24px text-success pointer"
                    (click)="toggleHidden(answer)"></i>
                  <span (click)="toggleHidden(answer)" class="pointer">Ответ должен быть виден пользователю</span>
                </div>
                <div class="form-group row">
                  <app-answer-accessor name="answer" class="form-control" formControlName="answer" [ngClass]="{ 'is-invalid':
                  (answer.controls.answer.touched || submitted) && answer.controls.answer.errors,
                  'is-valid': answer.controls.answer.touched && answer.controls.answer.valid }"></app-answer-accessor>
                  <div class="invalid-feedback">
                    <span *ngIf="answer.controls.answer.errors?.required">Не может быть пустым</span>
                  </div>
                </div>
                <div class="row d-block">
                  <button class="btn btn-sm btn-gray-white" (click)="preview[i] = !preview[i]">Предпросмотр ответа</button>
                  <div class="preview-ticket-form" *ngIf="preview[i]" @contentBlockAnimation>
                    <markdown [data]="answer.value.answer" ngPreserveWhitespaces></markdown>
                  </div>
                </div>
                <div class="form-group row">
                  <label [for]="'link' + i" class="col-md-2 col-form-label text-primary col-form-label">Ссылка</label>
                  <div class="col-md">
                    <input [id]="'link' + i" name="link" formControlName="link" class="form-control" placeholder="Вставьте ссылку" />
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </div>
      </ngb-accordion>
    </div>
  </section>
</div>
