<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Редактировать вопрос</h1>
  </div>
  <form [formGroup]="ticketForm">
    <div class="modal-body">
      <div class="container">
        <app-ticket-form [parentForm]="ticketForm" [ticket]="ticket"></app-ticket-form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="cancel()" class="btn btn-gray-white">Отменить</button>
      <button type="button" ngbAutofocus (click)="save()" [disabled]="loading" class="btn btn-primary">
        <span class="d-flex justify-content-center">
          <app-loading [loading]="loading" class="mr-1 text-body"></app-loading>Сохранить
        </span>
      </button>
    </div>
  </form>
</ng-template>
