<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Новый вопрос</h1>
  </div>
  <form [formGroup]="ticketForm">
    <div class="modal-body">
      <div class="container">
        <section>
          <div class="form-group">
            <textarea id="name" name="name" rows="3" formControlName="name" class="form-control"
              placeholder="Введите вопрос или описание проблемы"></textarea>
          </div>
          <div class="form-group">
            <label for="tags">Теги</label>
            <ng-select id="tags" [items]="tags | async" [addTag]="!loading.tags" [hideSelected]="true" multiple="true" bindLabel="name"
              [typeahead]="tagInput" [loading]="loading.tags" formControlName="tags_attributes" typeToSearchText="Введите тег"
              addTagText="Добавить тег" placeholder="Укажите теги"></ng-select>
            <small class="form-text">
              <div class="d-flex align-items-center flex-wrap">
                Популярные теги для данной услуги:
                <app-loading class="ml-2 mr-2" [loading]="loading.serviceTags" size="18px"></app-loading>
                <span *ngFor="let tag of serviceTags" @contentBlockAnimation>
                  <span [innerHTML]=tag></span>
                  &nbsp;
                </span>
              </div>
            </small>
          </div>
        </section>
        <section>
          <button class="btn btn-outline-primary mb-3" (click)="addAnswer()">Новый ответ</button>
          <div formArrayName="answers_attributes">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel *ngFor="let answer of form.answers_attributes.controls; let i = index;" [formGroupName]="i">
                <ng-template ngbPanelHeader>
                  <div class="d-flex align-items-center">
                    <button ngbPanelToggle class="btn btn-link p-0 mr-auto">Ответ {{ i + 1 }}</button>
                    <i *ngIf="answer.value.is_hidden" class="mdi mdi-eye-off mdi-24px" ngbTooltip="Ответ скрыт от пользователей" container="body"></i>
                    <i *ngIf="!answer.value.is_hidden" class="mdi mdi-eye mdi-24px text-success" ngbTooltip="Ответ виден пользователям" container="body"></i>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="container">
                    <div class="row align-items-center sd-icon-group pointer">
                      <i *ngIf="answer.value.is_hidden" class="mdi mdi-toggle-switch-off mdi-24px" (click)="toggleHidden(answer)"></i>
                      <i *ngIf="!answer.value.is_hidden" class="mdi mdi-toggle-switch mdi-24px text-success" (click)="toggleHidden(answer)"></i>
                      <span (click)="toggleHidden(answer)">Показать ответ пользователю</span>
                    </div>
                    <div class="form-group row">
                      <textarea [id]="'answer' + i" name="answer" rows="3" formControlName="answer" class="form-control" placeholder="Введите ответ"></textarea>
                    </div>
                    <div class="form-group row">
                      <label [for]="'link' + i" class="col-md-2 col-form-label text-primary col-form-label">Ссылка</label>
                      <div class="col-md">
                        <input [id]="'link' + i" name="link" formControlName="link" class="form-control" placeholder="Вставьте ссылку" />
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </section>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="cancel()" class="btn btn-gray-white">Отменить</button>
      <button type="button" (click)="save()" class="btn btn-primary">Сохранить</button>
    </div>
  </form>
</ng-template>
