<div class="sd-list-item" [ngClass]="{ 'active-item': question.open }" [id]="question.id">
  <div class="sd-list-question">
    <div class="question">
      <div class="sd-icon-group text-body">
        <i *ngIf="!standaloneLink" class="mdi mdi-24px pointer" [ngClass]="question.open ?
          'mdi-arrow-up-drop-circle-outline' : 'mdi-arrow-down-drop-circle-outline'" (click)="toggleQuestion()"></i>
        <i class="mdi mdi-file-document-edit-outline mdi-24px pointer" ngbTooltip="Редактировать вопрос"
          (click)="editQuestion()"></i>
        <div class="d-flex flex-column question-block">
          <div class="d-flex flex-row align-items-center">
            <span [innerHtml]="question.name"></span>
            <span class="d-flex flex-row flex-grow-1">
              <span *ngIf="question.isPublishedState()" ngbTooltip="Опубликован" container="body">
                <i class="mdi mdi-file-check-outline mdi-18px ml-1 text-success"></i>
              </span>
              <span *ngIf="question.isDraftState()" ngbTooltip="Черновик" container="body">
                <i class="mdi mdi-file-settings-variant-outline mdi-18px ml-1" ></i>
              </span>
              <span *ngIf="!question.isHidden" ngbTooltip="Виден пользователю" container="body">
                <i class="mdi mdi-eye-outline mdi-18px ml-1 text-success" ></i>
              </span>
              <span *ngIf="question.isHidden" ngbTooltip="Скрыт от пользователя" container="body">
                <i class="mdi mdi-eye-off-outline mdi-18px ml-1"></i>
              </span>
              <span *ngIf="question.correction || question.original" ngbTooltip="Имеются неподтвержденные правки"
                container="body">
                <i class="mdi mdi-pencil-plus-outline mdi-18px ml-1 text-warning"></i>
              </span>
            </span>
            <span class="ml-3">
              <button *ngIf="question.correction" class="btn btn-sm btn-outline-primary toggle-correction"
                (click)="showCorrection()">Посмотреть правки</button>
              <button *ngIf="question.original" class="btn btn-sm btn-outline-primary toggle-correction"
                (click)="showOriginal()">Посмотреть оригинал</button>
            </span>
          </div>
          <div class="mt-1">
            Теги:
            <span *ngFor="let tag of question.tags" class="badge ml-1 bg-blue-100">{{ tag.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="question.open" class="overflow-hidden" @ToggleAnswer>
    <div *ngFor="let answer of question.answers; trackBy: trackByAnswer" class="sd-list-answer ml-5">
      <app-answer [answer]="answer"></app-answer>
    </div>
  </div>
</div>
