<div class="sd-list-item" [ngClass]="{ 'active-item': question.open }" [id]="question.id">
  <div class="sd-list-question">
    <div class="sd-list-question-group" (click)="toggleQuestion()">
      <i class="mdi mdi-24px" [ngClass]="question.open ? 'mdi-arrow-up-drop-circle-outline' :
        'mdi-arrow-down-drop-circle-outline'"></i>
      <app-visible-flag [data]="question"></app-visible-flag>
      <div class="question-block">
        <div class="question-block-content">
          <app-question-flags [question]="question"></app-question-flags>
          <span [innerHtml]="question.name" class="flex-grow-1"></span>
        </div>
        <div class="mt-1" *ngIf="question.tags.length">
          <div class="additional-text">
            <small>теги:</small>
            <div class="row-inline-content ml-1">
              <span *ngFor="let tag of question.tags; trackBy: trackByTag" class="badge bg-blue-100">{{ tag.name }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="admin-block">
        <div ngbDropdown container="body" (click)="$event.stopPropagation()">
          <button class="btn btn-sm btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Действия</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="">
            <button ngbDropdownItem *ngIf="question.original" (click)="showOriginal()" class="align-button-content">
              <i class="mdi mdi-file-swap-outline mdi-18px"></i>Посмотреть оригинал
            </button>
            <button ngbDropdownItem *ngIf="question.correction" (click)="showCorrection()" class="align-button-content">
              <i class="mdi mdi-file-swap-outline mdi-18px"></i>Посмотреть правки
            </button>
            <button ngbDropdownItem (click)="editQuestion()" class="align-button-content">
              <i class="mdi mdi-file-document-edit-outline mdi-18px"></i>Редактировать
            </button>
            <button ngbDropdownItem *appAuthorize="[question, 'publish']" (click)="publishQuestion()" class="align-button-content">
              <i class="mdi mdi-checkbox-marked-circle-outline mdi-18px"></i>Опубликовать
            </button>
            <div *appAuthorize="[question, 'destroy']">
              <button ngbDropdownItem class="align-button-content" *ngIf="question.isPublishedState()"(click)="destroyPublishedQuestion()">
                <i class="mdi mdi-delete mdi-18px"></i>Удалить вопрос
              </button>
            </div>
            <div *appAuthorize="[question, 'destroy']">
              <button ngbDropdownItem class="align-button-content" *ngIf="question.isDraftState()" (click)="destroyDraftQuestion()">
                <i class="mdi mdi-delete mdi-18px"></i>Удалить черновик
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="question.open" class="sd-list-answer" @ToggleAnswer>
    <app-responsible-user-details class="responsibles-block" [users]="question.responsibleUsers" *ngIf="question.responsibleUsers.length">
    </app-responsible-user-details>
    <div *ngFor="let answer of question.answers; trackBy: trackByAnswer" class="answer-block">
      <app-answer [answer]="answer"></app-answer>
    </div>
  </div>
</div>
