<div class="bg-strong-cyan">
  <div class="container">
    <div class="d-flex text-white">
      <div class="sd-brand mr-auto"><a routerLink="/"><img src="assets/images/logos/logo-iss.svg" alt="Логотип АО ИСС" /></a></div>
      <div class="sd-user-account d-flex align-items-center navbar-expand navbar-dark">
        <ul class="navbar-nav flex-row">
          <li *ngIf="isUserSignedIn | async" class="nav-item"><a class="nav-link sd-icon-group"><i class="mdi mdi-account mdi-24px"></i>{{ (user | async)?.fio }}</a></li>
          <li *ngIf="isUserSignedIn | async" class="nav-item"><a (click)="logout()" class="nav-link sd-icon-group sd-icon-group-append">Выход<i class="mdi mdi-logout mdi-24px"></i></a></li>
          <li *ngIf="!(isUserSignedIn | async)" class="nav-item"><a routerLink="login" class="nav-link sd-icon-group sd-icon-group-append">Вход<i class="mdi mdi-login mdi-24px"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-md">
  <div class="container">
    <a routerLink="/" class="navbar-brand"><img src="assets/images/logos/logo-sd.svg" alt="Logo ServiceDesc" /></a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item"><a routerLink="categories" class="nav-link">Категории</a></li>
        <li class="nav-item"><a routerLink="cases" class="nav-link">Заявки</a></li>
        <li class="nav-item"><a routerLink="cases/new" class="nav-link">Поддержка</a></li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item"><a routerLink="search" class="nav-link"><i class="mdi mdi-magnify mdi-24px"></i></a></li>
        <li class="nav-item"><a href="https://lk.iss-reshetnev.ru" class="nav-link" target="_blank"><span class="sd-icon-group"><i class="mdi mdi-account-key mdi-24px"></i>Личный кабинет</span></a></li>
      </ul>
    </div>
  </div>
</nav>
