<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <span class="navbar-brand">
      <img src="assets/images/logo_iss_rus.png" height="30">
    </span>
    <div class="navbar-collapse justify-content-end">
      <div *ngIf="isUserSignedIn | async">
        <ul class="navbar-nav">
          <li class="nav-item">
            <span class="navbar-text">
              <i class="mdi mdi-account"></i>
              {{ (user | async)?.fio }}
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">
              <i class="mdi mdi-logout"></i>
              Выход
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="!(isUserSignedIn | async)">
        <ul class="navbar-nav">
          <a class="nav-link" routerLink="login">Вход</a>
        </ul>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" (click)="toggleCollapsed()" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="">ServiceDeskUI</a>
    <div id="navbarToggler" class="navbar-collapse justify-content-end" [ngClass]="{ collapse: collapsed }">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="categories">Категории</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cases">Заявки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cases/new">Поддержка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search"><i class="mdi mdi-magnify"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://lk.iss-reshetnev.ru" target="_blank">
            <i class="mdi mdi-key"></i>
            Личный кабинет
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
