<section class="sd-pb-6">
  <div class="container">
    <app-section-header header="Редактировать вопрос"></app-section-header>
    <div class="question-form">
      <div class="ask-mainbar">
        <form [formGroup]="questionForm" *ngIf="questionForm">
          <app-question-form [questionForm]="questionForm" [question]="question" [submitted]="submitted"></app-question-form>
          <div class="form-row align-items-center justify-content-center sd-mb-7">
            <button type="button" ngbAutofocus (click)="save()" [disabled]="loading" class="btn btn-primary">
              <span class="d-flex justify-content-center">
                <app-loading [loading]="loading" class="mr-1 text-body"></app-loading>Сохранить
              </span>
            </button>
            <button type="button" (click)="cancel()" class="btn btn-gray-white ml-3">Отменить</button>
          </div>
        </form>
        <p>Внимание! Все изменения сохраняются в режиме "Черновик" и становятся доступны пользователям только после утверждения их администратором, Аксеновой Ольгой Владимировной (aksenovaov@iss-reshetnev.ru)</p>
      </div>
      <div class="markdown-helpbar">
        <app-markdown-help></app-markdown-help>
      </div>
    </div>
  </div>
</section>
