<section>
  <app-section-header header="Мои заявки"></app-section-header>
  <app-loading [loading]="loading.initialization" size="48px"></app-loading>

  <div *ngIf="!loading.initialization && !isAnyCasesExists()" @contentBlockAnimation class="d-flex justify-content-start align-items-center">
    <span>Заявки отсутствуют</span>
    <a id="newCase" routerLink="/cases/new" class="btn btn-primary ml-4">Создать заявку в свободной форме</a>
  </div>

  <div *ngIf="!loading.initialization && isAnyCasesExists()">
    <a id="newCase" routerLink="/cases/new" class="btn btn-gray-white mb-3">Создать заявку в свободной форме</a>
    <app-filters [data]="statuses" (changeFilter)="filterChanged($event)"></app-filters>
    <app-case-card-list [cases]="cases" [loading]="loading.table" (removeCase)="caseRevoked()"></app-case-card-list>
    <!-- <app-paginator></app-paginator> -->
  </div>
</section>
