<section>
  <app-section-header header="Текущие заявки"></app-section-header>
  <div class="sd-nav-pills">
    <nav>
      <div class="nav nav-pills">
        <span class="nav-item nav-link" (click)="selectStatus(null)" [ngClass]="{ active: !selectedStatus }">
          Все
          <span class="badge">({{ caseCount || 0 }})</span>
        </span>
        <span *ngFor="let status of statuses; trackBy:status?.id" (click)="selectStatus(status.id)" class="nav-item nav-link" [ngClass]="{ active: selectedStatus == status.id }">
          {{ status.status }}
          <span class="badge">({{ status.case_count || 0 }})</span>
        </span>
      </div>
    </nav>
  </div>
  <div class="tab-content">
    <table class="table table-striped table-borderless border">
      <thead>
        <tr class="thead-light border-bottom">
          <th scope="col">Номер</th>
          <th scope="col">Дата подачи</th>
          <th scope="col">Тип заявки</th>
          <th scope="col">Срок выполнения</th>
          <th scope="col">Статус</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td colspan="6"><app-loading [loading]="loading" size="48px"></app-loading></td>
        </tr>
        <ng-container *ngIf="!loading">
          <tr *ngFor="let case of cases; trackBy:case?.case_id">
            <td [innerHtml]="case.case_id"></td>
            <td [innerHtml]="case.runtime.formatted_starttime"></td>
            <td [innerHtml]="case.ticket?.name || 'Общая заявка'"></td>
            <td [innerHtml]="case.runtime.to_s"></td>
            <td [innerHtml]="case.status"></td>
            <td><span class="sd-link text-body"><i class="mdi mdi-delete"></i></span></td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div class="sd-pagination">
      <nav aria-label="">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a href="" class="page-link">В начало</a></li>
          <li class="page-item"><a href="" class="page-link page-link-previous"></a></li>
          <li class="page-item"><a href="" class="page-link"><span>...</span></a></li>
          <li class="page-item"><a href="" class="page-link">5</a></li>
          <li class="page-item"><a href="" class="page-link">6</a></li>
          <li class="page-item active"><a href="" class="page-link">7</a></li>
          <li class="page-item"><a href="" class="page-link">8</a></li>
          <li class="page-item"><a href="" class="page-link">9</a></li>
          <li class="page-item"><a href="" class="page-link"><span>...</span></a></li>
          <li class="page-item"><a href="" class="page-link page-link-next"></a></li>
          <li class="page-item"><a href="" class="page-link">В конец</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
