<div class="user-dashboard-menu-component shadow">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-end navbar-expand">
        <ul class="navbar-nav flex-row">
          <li class="nav-item"><a href="https://lk.iss-reshetnev.ru" target="_blank" class="nav-link sd-icon-group"><i class="mdi mdi-account-key mdi-24px"></i>Личный кабинет</a></li>
          <li class="nav-item"><a routerLink="/logout" class="nav-link sd-icon-group sd-icon-group-append">Выход<i class="mdi mdi-logout mdi-24px"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <ngb-tabset>
        <ngb-tab title="Уведомления">
          <ng-template ngbTabContent>
            <div class="notification-row">
              <div class="row">
                <div class="col-md-10">
                  Заявка № 6448 выполнена
                </div>
                <div class="col-md-2 text-right">
                  06.09.2018 15:04
                </div>
              </div>
            </div>
            <div class="notification-row">
              <div class="row">
                <div class="col-md-10">
                    aw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                    master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                    iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                </div>
                <div class="col-md-2 text-right">
                  06.09.2018 15:04
                </div>
              </div>
            </div>
            <div class="notification-row">
                <div class="row">
                  <div class="col-md-10">
                      aw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                  </div>
                  <div class="col-md-2 text-right">
                    06.09.2018 15:04
                  </div>
                </div>
              </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
