<ul class="sd-list-masonry sd-list-masonry-sm-6 sd-list-masonry-md-4 list-unstyled sd-child-mb-7" [@contentListAnimation]="categories">
  <li *ngFor="let category of categories; trackBy: trackByCategory">
    <app-category-header [category]="category"></app-category-header>
    <ul *ngIf="category.services" class="sd-category-list-item list-unstyled sd-child-mb-3 collapse show">
      <li *ngFor="let service of category.services; trackBy: trackByService">
        <a [routerLink]="[category.id, 'services', service.id]" [innerHtml]="service.name"></a>
      </li>
    </ul>
  </li>
</ul>